#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#titleContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

#titleContainer img {
    width: 80px;
}

#contentContainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 30px;

    max-height: 600px;
    overflow: auto;
    padding: 50px;
}

.pokeCard {
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;

    transition: 0.4s;
}

.pokeCard:hover {
    transform: scale(1.1);
}

.pokeCard img {
    width: 150px;
}

.pokeCard h3 {
    margin: 0;
    color: #2b2b2b;
}

.pokeCard span {
    color: #2b2b2b;
}